{
  "openapi": "3.0.0",
  "info": {
    "title": "Seam Connect",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://connect.getseam.com"
    }
  ],
  "components": {
    "schemas": {
      "access_code": {
        "description": "Represents a smart lock [access code](/low-level-apis/smart-locks/access-codes).",
        "properties": {
          "access_code_id": {
            "description": "Unique identifier for the access code.",
            "format": "uuid",
            "type": "string"
          },
          "code": {
            "description": "Code used for access. Typically, a numeric or alphanumeric string.",
            "nullable": true,
            "type": "string"
          },
          "common_code_key": {
            "description": "Unique identifier for a group of access codes that share the same code.",
            "nullable": true,
            "type": "string"
          },
          "created_at": {
            "description": "Date and time at which the access code was created.",
            "format": "date-time",
            "type": "string"
          },
          "device_id": {
            "description": "Unique identifier for the device associated with the access code.",
            "format": "uuid",
            "type": "string"
          },
          "dormakaba_oracode_metadata": {
            "description": "Metadata for a dormakaba Oracode managed access code. Only present for access codes from dormakaba Oracode devices.",
            "nullable": true,
            "properties": {
              "is_cancellable": {
                "description": "Indicates whether the stay can be cancelled via the Dormakaba Oracode API.",
                "type": "boolean"
              },
              "is_early_checkin_able": {
                "description": "Indicates whether early check-in is available for this stay.",
                "type": "boolean"
              },
              "is_extendable": {
                "description": "Indicates whether the stay can be extended via the Dormakaba Oracode API.",
                "type": "boolean"
              },
              "is_overridable": {
                "description": "Indicates whether the access code can be overridden. When false, the maximum number of overrides has been reached.",
                "type": "boolean"
              },
              "site_name": {
                "description": "Dormakaba Oracode site name associated with this access code.",
                "type": "string"
              },
              "stay_id": {
                "description": "Dormakaba Oracode stay ID associated with this access code.",
                "format": "float",
                "type": "number"
              },
              "user_level_id": {
                "description": "Dormakaba Oracode user level ID associated with this access code.",
                "type": "string"
              },
              "user_level_name": {
                "description": "Dormakaba Oracode user level name associated with this access code.",
                "nullable": true,
                "type": "string"
              }
            },
            "required": [
              "stay_id",
              "user_level_name"
            ],
            "type": "object"
          },
          "ends_at": {
            "description": "Date and time after which the time-bound access code becomes inactive.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "errors": {
            "type": "array",
            "description": "Errors associated with the [access code](/low-level-apis/smart-locks/access-codes).",
            "items": {
              "type": "object",
              "properties": {
                "error_code": {
                  "type": "string",
                  "description": "Error or warning code."
                },
                "message": {
                  "type": "string",
                  "description": "Human-readable description."
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "When this error or warning was generated."
                }
              }
            }
          },
          "is_backup": {
            "description": "Indicates whether the access code is a backup code.",
            "type": "boolean"
          },
          "is_backup_access_code_available": {
            "description": "Indicates whether a backup access code is available for use if the primary access code is lost or compromised.",
            "type": "boolean"
          },
          "is_external_modification_allowed": {
            "description": "Indicates whether changes to the access code from external sources are permitted.",
            "type": "boolean"
          },
          "is_managed": {
            "description": "Indicates whether Seam manages the access code.",
            "enum": [
              true
            ],
            "type": "boolean"
          },
          "is_offline_access_code": {
            "description": "Indicates whether the access code is intended for use in offline scenarios. If `true`, this code can be created on a device without a network connection.",
            "type": "boolean"
          },
          "is_one_time_use": {
            "description": "Indicates whether the access code can only be used once. If `true`, the code becomes invalid after the first use.",
            "type": "boolean"
          },
          "is_scheduled_on_device": {
            "description": "Indicates whether the code is set on the device according to a preconfigured schedule.",
            "type": "boolean"
          },
          "is_waiting_for_code_assignment": {
            "description": "Indicates whether the access code is waiting for a code assignment.",
            "type": "boolean"
          },
          "name": {
            "description": "Name of the access code. Enables administrators and users to identify the access code easily, especially when there are numerous access codes. Note that the name provided on Seam is used to identify the code on Seam and is not necessarily the name that will appear in the lock provider's app or on the device. This is because lock providers may have constraints on names, such as length, uniqueness, or characters that can be used. In addition, some lock providers may break down names into components such as `first_name` and `last_name`. To provide a consistent experience, Seam identifies the code on Seam by its name but may modify the name that appears on the lock provider's app or on the device. For example, Seam may add additional characters or truncate the name to meet provider constraints. To help your users identify codes set by Seam, Seam provides the name exactly as it appears on the lock provider's app or on the device as a separate property called `appearance`. This is an object with a `name` property and, optionally, `first_name` and `last_name` properties (for providers that break down a name into components).",
            "nullable": true,
            "type": "string"
          },
          "pending_mutations": {
            "description": "Collection of pending mutations for the access code. Indicates changes that Seam is in the process of pushing to the device.",
            "items": {
              "discriminator": {
                "propertyName": "mutation_code"
              },
              "oneOf": [
                {
                  "description": "Seam is in the process of setting an access code on the device.",
                  "properties": {
                    "created_at": {
                      "description": "Date and time at which the mutation was created.",
                      "format": "date-time",
                      "type": "string"
                    },
                    "message": {
                      "description": "Detailed description of the mutation.",
                      "type": "string"
                    },
                    "mutation_code": {
                      "description": "Mutation code to indicate that Seam is in the process of setting an access code on the device.",
                      "enum": [
                        "creating"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "created_at",
                    "message",
                    "mutation_code"
                  ],
                  "type": "object"
                },
                {
                  "description": "Seam is waiting until closer to the access code's start time before programming it on the device.",
                  "properties": {
                    "created_at": {
                      "description": "Date and time at which the mutation was created.",
                      "format": "date-time",
                      "type": "string"
                    },
                    "message": {
                      "description": "Detailed description of the mutation.",
                      "type": "string"
                    },
                    "mutation_code": {
                      "description": "Mutation code to indicate that Seam is waiting until closer to the access code's start time before programming it on the device.",
                      "enum": [
                        "deferring_creation"
                      ],
                      "type": "string"
                    },
                    "scheduled_at": {
                      "description": "Date and time at which Seam will attempt to program this access code on the device.",
                      "format": "date-time",
                      "type": "string"
                    }
                  },
                  "required": [
                    "created_at",
                    "message",
                    "mutation_code",
                    "scheduled_at"
                  ],
                  "type": "object"
                },
                {
                  "description": "Seam is in the process of removing an access code from the device.",
                  "properties": {
                    "created_at": {
                      "description": "Date and time at which the mutation was created.",
                      "format": "date-time",
                      "type": "string"
                    },
                    "message": {
                      "description": "Detailed description of the mutation.",
                      "type": "string"
                    },
                    "mutation_code": {
                      "description": "Mutation code to indicate that Seam is in the process of removing an access code from the device.",
                      "enum": [
                        "deleting"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "created_at",
                    "message",
                    "mutation_code"
                  ],
                  "type": "object"
                },
                {
                  "description": "Seam is in the process of pushing an updated PIN code to the device.",
                  "properties": {
                    "created_at": {
                      "description": "Date and time at which the mutation was created.",
                      "format": "date-time",
                      "type": "string"
                    },
                    "from": {
                      "description": "Previous code configuration.",
                      "properties": {
                        "code": {
                          "description": "Previous PIN code.",
                          "nullable": true,
                          "type": "string"
                        }
                      },
                      "required": [
                        "code"
                      ],
                      "type": "object"
                    },
                    "message": {
                      "description": "Detailed description of the mutation.",
                      "type": "string"
                    },
                    "mutation_code": {
                      "description": "Mutation code to indicate that Seam is in the process of pushing an updated PIN code to the device.",
                      "enum": [
                        "updating_code"
                      ],
                      "type": "string"
                    },
                    "to": {
                      "description": "New code configuration.",
                      "properties": {
                        "code": {
                          "description": "New PIN code.",
                          "nullable": true,
                          "type": "string"
                        }
                      },
                      "required": [
                        "code"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "created_at",
                    "message",
                    "mutation_code",
                    "from",
                    "to"
                  ],
                  "type": "object"
                },
                {
                  "description": "Seam is in the process of pushing an updated access code name to the device.",
                  "properties": {
                    "created_at": {
                      "description": "Date and time at which the mutation was created.",
                      "format": "date-time",
                      "type": "string"
                    },
                    "from": {
                      "description": "Previous name configuration.",
                      "properties": {
                        "name": {
                          "description": "Previous access code name.",
                          "nullable": true,
                          "type": "string"
                        }
                      },
                      "required": [
                        "name"
                      ],
                      "type": "object"
                    },
                    "message": {
                      "description": "Detailed description of the mutation.",
                      "type": "string"
                    },
                    "mutation_code": {
                      "description": "Mutation code to indicate that Seam is in the process of pushing an updated access code name to the device.",
                      "enum": [
                        "updating_name"
                      ],
                      "type": "string"
                    },
                    "to": {
                      "description": "New name configuration.",
                      "properties": {
                        "name": {
                          "description": "New access code name.",
                          "nullable": true,
                          "type": "string"
                        }
                      },
                      "required": [
                        "name"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "created_at",
                    "message",
                    "mutation_code",
                    "from",
                    "to"
                  ],
                  "type": "object"
                },
                {
                  "description": "Seam is in the process of pushing an updated time frame to the device.",
                  "properties": {
                    "created_at": {
                      "description": "Date and time at which the mutation was created.",
                      "format": "date-time",
                      "type": "string"
                    },
                    "from": {
                      "description": "Previous time frame configuration.",
                      "properties": {
                        "ends_at": {
                          "description": "Previous end time for the access code.",
                          "format": "date-time",
                          "nullable": true,
                          "type": "string"
                        },
                        "starts_at": {
                          "description": "Previous start time for the access code.",
                          "format": "date-time",
                          "nullable": true,
                          "type": "string"
                        }
                      },
                      "required": [
                        "starts_at",
                        "ends_at"
                      ],
                      "type": "object"
                    },
                    "message": {
                      "description": "Detailed description of the mutation.",
                      "type": "string"
                    },
                    "mutation_code": {
                      "description": "Mutation code to indicate that Seam is in the process of pushing updated access code time frame to the device.",
                      "enum": [
                        "updating_time_frame"
                      ],
                      "type": "string"
                    },
                    "to": {
                      "description": "New time frame configuration.",
                      "properties": {
                        "ends_at": {
                          "description": "New end time for the access code.",
                          "format": "date-time",
                          "nullable": true,
                          "type": "string"
                        },
                        "starts_at": {
                          "description": "New start time for the access code.",
                          "format": "date-time",
                          "nullable": true,
                          "type": "string"
                        }
                      },
                      "required": [
                        "starts_at",
                        "ends_at"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "created_at",
                    "message",
                    "mutation_code",
                    "from",
                    "to"
                  ],
                  "type": "object"
                }
              ]
            },
            "type": "array"
          },
          "pulled_backup_access_code_id": {
            "description": "Identifier of the pulled backup access code. Used to associate the pulled backup access code with the original access code.",
            "format": "uuid",
            "nullable": true,
            "type": "string"
          },
          "starts_at": {
            "description": "Date and time at which the time-bound access code becomes active.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "status": {
            "description": "Current status of the access code within the operational lifecycle. Values are `setting`, a transitional phase that indicates that the code is being configured or activated; `set`, which indicates that the code is active and operational; `unset`, which indicates a deactivated or unused state, either before activation or after deliberate deactivation; `removing`, which indicates a transitional period in which the code is being deleted or made inactive; and `unknown`, which indicates an indeterminate state, due to reasons such as system errors or incomplete data, that highlights a potential need for system review or troubleshooting. See also [Lifecycle of Access Codes](/low-level-apis/smart-locks/access-codes/lifecycle-of-access-codes).",
            "enum": [
              "setting",
              "set",
              "unset",
              "removing",
              "unknown"
            ],
            "type": "string"
          },
          "type": {
            "description": "Type of the access code. `ongoing` access codes are active continuously until deactivated manually. `time_bound` access codes have a specific duration.",
            "enum": [
              "time_bound",
              "ongoing"
            ],
            "type": "string"
          },
          "warnings": {
            "type": "array",
            "description": "Warnings associated with the [access code](/low-level-apis/smart-locks/access-codes).",
            "items": {
              "type": "object",
              "properties": {
                "error_code": {
                  "type": "string",
                  "description": "Error or warning code."
                },
                "message": {
                  "type": "string",
                  "description": "Human-readable description."
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "When this error or warning was generated."
                }
              }
            }
          },
          "workspace_id": {
            "description": "Unique identifier for the Seam workspace associated with the access code.",
            "format": "uuid",
            "type": "string"
          }
        },
        "required": [
          "workspace_id",
          "common_code_key",
          "type",
          "access_code_id",
          "device_id",
          "name",
          "code",
          "created_at",
          "errors",
          "warnings",
          "is_managed",
          "status",
          "is_backup_access_code_available",
          "is_external_modification_allowed",
          "is_one_time_use",
          "is_offline_access_code",
          "pending_mutations"
        ],
        "type": "object",
        "x-route-path": "/access_codes"
      },
      "access_grant": {
        "description": "Represents an Access Grant. Access Grants enable you to grant a user identity access to spaces, entrances, and devices through one or more access methods, such as mobile keys, plastic cards, and PIN codes. You can create an Access Grant for an existing user identity, or you can create a new user identity *while* creating the new Access Grant.",
        "properties": {
          "access_grant_id": {
            "description": "ID of the Access Grant.",
            "format": "uuid",
            "type": "string"
          },
          "access_grant_key": {
            "description": "Unique key for the access grant within the workspace.",
            "type": "string"
          },
          "access_method_ids": {
            "description": "IDs of the access methods created for the Access Grant.",
            "items": {
              "format": "uuid",
              "type": "string"
            },
            "type": "array"
          },
          "client_session_token": {
            "description": "Client Session Token. Only returned if the Access Grant has a mobile_key access method.",
            "type": "string"
          },
          "created_at": {
            "description": "Date and time at which the Access Grant was created.",
            "format": "date-time",
            "type": "string"
          },
          "customization_profile_id": {
            "description": "ID of the customization profile associated with the Access Grant.",
            "format": "uuid",
            "type": "string"
          },
          "display_name": {
            "description": "Display name of the Access Grant.",
            "type": "string"
          },
          "ends_at": {
            "description": "Date and time at which the Access Grant ends.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "errors": {
            "description": "Errors associated with the [access grant](/use-cases/granting-access).",
            "items": {
              "discriminator": {
                "propertyName": "error_code"
              },
              "oneOf": [
                {
                  "properties": {
                    "created_at": {
                      "description": "Date and time at which Seam created the error.",
                      "format": "date-time",
                      "type": "string"
                    },
                    "error_code": {
                      "description": "Unique identifier of the type of error. Enables quick recognition and categorization of the issue.",
                      "enum": [
                        "cannot_create_requested_access_methods"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "description": "Detailed description of the error. Provides insights into the issue and potentially how to rectify it.",
                      "type": "string"
                    },
                    "missing_device_ids": {
                      "description": "IDs of the devices that did not receive an access code at grant creation. Use these to identify which specific devices failed when the message reports a partial failure.",
                      "items": {
                        "format": "uuid",
                        "type": "string"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "created_at",
                    "message",
                    "error_code"
                  ],
                  "type": "object"
                }
              ]
            },
            "type": "array"
          },
          "instant_key_url": {
            "description": "Instant Key URL. Only returned if the Access Grant has a single mobile_key access_method. ",
            "format": "uri",
            "type": "string"
          },
          "location_ids": {
            "deprecated": true,
            "items": {
              "format": "uuid",
              "type": "string"
            },
            "type": "array",
            "x-deprecated": "Use `space_ids`."
          },
          "name": {
            "description": "Name of the Access Grant. If not provided, the display name will be computed.",
            "nullable": true,
            "type": "string"
          },
          "pending_mutations": {
            "description": "List of pending mutations for the access grant. This shows updates that are in progress.",
            "items": {
              "discriminator": {
                "propertyName": "mutation_code"
              },
              "oneOf": [
                {
                  "description": "Seam is in the process of updating the devices/spaces associated with this access grant.",
                  "properties": {
                    "created_at": {
                      "description": "Date and time at which the mutation was created.",
                      "format": "date-time",
                      "type": "string"
                    },
                    "from": {
                      "description": "Previous location configuration.",
                      "properties": {
                        "device_ids": {
                          "description": "Previous device IDs where access codes existed.",
                          "items": {
                            "format": "uuid",
                            "type": "string"
                          },
                          "type": "array"
                        }
                      },
                      "required": [
                        "device_ids"
                      ],
                      "type": "object"
                    },
                    "message": {
                      "description": "Detailed description of the mutation.",
                      "type": "string"
                    },
                    "mutation_code": {
                      "description": "Mutation code to indicate that Seam is in the process of updating the spaces (devices) associated with this access grant.",
                      "enum": [
                        "updating_spaces"
                      ],
                      "type": "string"
                    },
                    "to": {
                      "description": "New location configuration.",
                      "properties": {
                        "common_code_key": {
                          "description": "Common code key to ensure PIN code reuse across devices.",
                          "nullable": true,
                          "type": "string"
                        },
                        "device_ids": {
                          "description": "New device IDs where access codes should be created.",
                          "items": {
                            "format": "uuid",
                            "type": "string"
                          },
                          "type": "array"
                        }
                      },
                      "required": [
                        "device_ids"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "created_at",
                    "message",
                    "mutation_code",
                    "from",
                    "to"
                  ],
                  "type": "object"
                },
                {
                  "description": "Seam is in the process of updating the access times for this access grant.",
                  "properties": {
                    "access_method_ids": {
                      "description": "IDs of the access methods being updated.",
                      "items": {
                        "format": "uuid",
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "created_at": {
                      "description": "Date and time at which the mutation was created.",
                      "format": "date-time",
                      "type": "string"
                    },
                    "from": {
                      "description": "Previous access time configuration.",
                      "properties": {
                        "ends_at": {
                          "description": "Previous end time for access.",
                          "format": "date-time",
                          "nullable": true,
                          "type": "string"
                        },
                        "starts_at": {
                          "description": "Previous start time for access.",
                          "format": "date-time",
                          "nullable": true,
                          "type": "string"
                        }
                      },
                      "required": [
                        "starts_at",
                        "ends_at"
                      ],
                      "type": "object"
                    },
                    "message": {
                      "description": "Detailed description of the mutation.",
                      "type": "string"
                    },
                    "mutation_code": {
                      "description": "Mutation code to indicate that Seam is in the process of updating the access times for this access grant.",
                      "enum": [
                        "updating_access_times"
                      ],
                      "type": "string"
                    },
                    "to": {
                      "description": "New access time configuration.",
                      "properties": {
                        "ends_at": {
                          "description": "New end time for access.",
                          "format": "date-time",
                          "nullable": true,
                          "type": "string"
                        },
                        "starts_at": {
                          "description": "New start time for access.",
                          "format": "date-time",
                          "nullable": true,
                          "type": "string"
                        }
                      },
                      "required": [
                        "starts_at",
                        "ends_at"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "created_at",
                    "message",
                    "mutation_code",
                    "access_method_ids",
                    "from",
                    "to"
                  ],
                  "type": "object"
                }
              ]
            },
            "type": "array"
          },
          "requested_access_methods": {
            "description": "Access methods that the user requested for the Access Grant.",
            "items": {
              "properties": {
                "code": {
                  "description": "Specific PIN code to use for this access method. Only applicable when mode is 'code'.",
                  "maxLength": 9,
                  "minLength": 4,
                  "pattern": "^\\d+$",
                  "type": "string"
                },
                "created_access_method_ids": {
                  "description": "IDs of the access methods created for the requested access method.",
                  "items": {
                    "format": "uuid",
                    "type": "string"
                  },
                  "type": "array"
                },
                "created_at": {
                  "description": "Date and time at which the requested access method was added to the Access Grant.",
                  "format": "date-time",
                  "type": "string"
                },
                "display_name": {
                  "description": "Display name of the access method.",
                  "type": "string"
                },
                "instant_key_max_use_count": {
                  "description": "Maximum number of times the instant key can be used. Only applicable when mode is 'mobile_key'. Defaults to 1 if not specified.",
                  "minimum": 1,
                  "type": "integer"
                },
                "mode": {
                  "description": "Access method mode. Supported values: `code`, `card`, `mobile_key`, `cloud_key`.",
                  "enum": [
                    "code",
                    "card",
                    "mobile_key",
                    "cloud_key"
                  ],
                  "type": "string"
                }
              },
              "required": [
                "display_name",
                "mode",
                "created_at",
                "created_access_method_ids"
              ],
              "type": "object"
            },
            "type": "array"
          },
          "reservation_key": {
            "description": "Reservation key for the access grant.",
            "type": "string"
          },
          "space_ids": {
            "description": "IDs of the spaces to which the Access Grant gives access.",
            "items": {
              "format": "uuid",
              "type": "string"
            },
            "type": "array"
          },
          "starts_at": {
            "description": "Date and time at which the Access Grant starts.",
            "format": "date-time",
            "type": "string"
          },
          "user_identity_id": {
            "description": "ID of user identity to which the Access Grant gives access.",
            "format": "uuid",
            "type": "string"
          },
          "warnings": {
            "type": "array",
            "description": "Warnings associated with the [access grant](/use-cases/granting-access).",
            "items": {
              "type": "object",
              "properties": {
                "error_code": {
                  "type": "string",
                  "description": "Error or warning code."
                },
                "message": {
                  "type": "string",
                  "description": "Human-readable description."
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "When this error or warning was generated."
                }
              }
            }
          },
          "workspace_id": {
            "description": "ID of the Seam workspace associated with the Access Grant.",
            "format": "uuid",
            "type": "string"
          }
        },
        "required": [
          "workspace_id",
          "access_grant_id",
          "user_identity_id",
          "location_ids",
          "space_ids",
          "requested_access_methods",
          "access_method_ids",
          "name",
          "display_name",
          "created_at",
          "starts_at",
          "ends_at",
          "warnings",
          "errors",
          "pending_mutations"
        ],
        "type": "object",
        "x-draft": "Early access.",
        "x-route-path": "/access_grants"
      },
      "access_method": {
        "description": "Represents an access method for an Access Grant. Access methods describe the modes of access, such as PIN codes, plastic cards, and mobile keys. For a mobile key, the access method also stores the URL for the associated Instant Key.",
        "properties": {
          "access_method_id": {
            "description": "ID of the access method.",
            "format": "uuid",
            "type": "string"
          },
          "client_session_token": {
            "description": "Token of the client session associated with the access method.",
            "type": "string"
          },
          "code": {
            "description": "The actual PIN code for code access methods.",
            "nullable": true,
            "type": "string"
          },
          "created_at": {
            "description": "Date and time at which the access method was created.",
            "format": "date-time",
            "type": "string"
          },
          "customization_profile_id": {
            "description": "ID of the customization profile associated with the access method.",
            "format": "uuid",
            "type": "string"
          },
          "display_name": {
            "description": "Display name of the access method.",
            "type": "string"
          },
          "instant_key_url": {
            "description": "URL of the Instant Key for mobile key access methods.",
            "format": "uri",
            "type": "string"
          },
          "is_assignment_required": {
            "description": "Indicates whether an existing card credential must be assigned to this access method before it can be issued. Only applies to card-mode access methods on systems that support credential assignment.",
            "type": "boolean"
          },
          "is_encoding_required": {
            "description": "Indicates whether encoding with an card encoder is required to issue or reissue the plastic card associated with the access method.",
            "type": "boolean"
          },
          "is_issued": {
            "description": "Indicates whether the access method has been issued.",
            "type": "boolean"
          },
          "is_ready_for_assignment": {
            "description": "Indicates whether the access method is ready for card assignment. This is true when the access method is in card mode, has not yet been issued, and the system supports credential assignment.",
            "type": "boolean"
          },
          "is_ready_for_encoding": {
            "description": "Indicates whether the access method is ready to be encoded. This is true when the credential has been created and the card has not yet been issued.",
            "type": "boolean"
          },
          "issued_at": {
            "description": "Date and time at which the access method was issued.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "mode": {
            "description": "Access method mode. Supported values: `code`, `card`, `mobile_key`, `cloud_key`.",
            "enum": [
              "code",
              "card",
              "mobile_key",
              "cloud_key"
            ],
            "type": "string"
          },
          "pending_mutations": {
            "description": "Pending mutations for the [access method](/use-cases/granting-access/delivering-access-methods). Indicates operations that are in progress.",
            "items": {
              "discriminator": {
                "propertyName": "mutation_code"
              },
              "oneOf": [
                {
                  "description": "Seam is in the process of provisioning access for this access method on new devices.",
                  "properties": {
                    "created_at": {
                      "description": "Date and time at which the mutation was created.",
                      "format": "date-time",
                      "type": "string"
                    },
                    "from": {
                      "description": "Previous device configuration.",
                      "properties": {
                        "device_ids": {
                          "description": "Previous device IDs where access was provisioned.",
                          "items": {
                            "format": "uuid",
                            "type": "string"
                          },
                          "type": "array"
                        }
                      },
                      "required": [
                        "device_ids"
                      ],
                      "type": "object"
                    },
                    "message": {
                      "description": "Detailed description of the mutation.",
                      "type": "string"
                    },
                    "mutation_code": {
                      "description": "Mutation code to indicate that Seam is in the process of provisioning access for this access method on new devices.",
                      "enum": [
                        "provisioning_access"
                      ],
                      "type": "string"
                    },
                    "to": {
                      "description": "New device configuration.",
                      "properties": {
                        "device_ids": {
                          "description": "New device IDs where access is being provisioned.",
                          "items": {
                            "format": "uuid",
                            "type": "string"
                          },
                          "type": "array"
                        }
                      },
                      "required": [
                        "device_ids"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "created_at",
                    "message",
                    "mutation_code",
                    "from",
                    "to"
                  ],
                  "type": "object"
                },
                {
                  "description": "Seam is in the process of revoking access for this access method from devices.",
                  "properties": {
                    "created_at": {
                      "description": "Date and time at which the mutation was created.",
                      "format": "date-time",
                      "type": "string"
                    },
                    "from": {
                      "description": "Previous device configuration.",
                      "properties": {
                        "device_ids": {
                          "description": "Previous device IDs where access existed.",
                          "items": {
                            "format": "uuid",
                            "type": "string"
                          },
                          "type": "array"
                        }
                      },
                      "required": [
                        "device_ids"
                      ],
                      "type": "object"
                    },
                    "message": {
                      "description": "Detailed description of the mutation.",
                      "type": "string"
                    },
                    "mutation_code": {
                      "description": "Mutation code to indicate that Seam is in the process of revoking access for this access method from devices.",
                      "enum": [
                        "revoking_access"
                      ],
                      "type": "string"
                    },
                    "to": {
                      "description": "New device configuration.",
                      "properties": {
                        "device_ids": {
                          "description": "New device IDs where access should remain.",
                          "items": {
                            "format": "uuid",
                            "type": "string"
                          },
                          "type": "array"
                        }
                      },
                      "required": [
                        "device_ids"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "created_at",
                    "message",
                    "mutation_code",
                    "from",
                    "to"
                  ],
                  "type": "object"
                },
                {
                  "description": "Seam is in the process of updating the access times for this access method.",
                  "properties": {
                    "created_at": {
                      "description": "Date and time at which the mutation was created.",
                      "format": "date-time",
                      "type": "string"
                    },
                    "from": {
                      "description": "Previous access time configuration.",
                      "properties": {
                        "ends_at": {
                          "description": "Previous end time for access.",
                          "format": "date-time",
                          "nullable": true,
                          "type": "string"
                        },
                        "starts_at": {
                          "description": "Previous start time for access.",
                          "format": "date-time",
                          "nullable": true,
                          "type": "string"
                        }
                      },
                      "required": [
                        "starts_at",
                        "ends_at"
                      ],
                      "type": "object"
                    },
                    "message": {
                      "description": "Detailed description of the mutation.",
                      "type": "string"
                    },
                    "mutation_code": {
                      "description": "Mutation code to indicate that Seam is in the process of updating the access times for this access method.",
                      "enum": [
                        "updating_access_times"
                      ],
                      "type": "string"
                    },
                    "to": {
                      "description": "New access time configuration.",
                      "properties": {
                        "ends_at": {
                          "description": "New end time for access.",
                          "format": "date-time",
                          "nullable": true,
                          "type": "string"
                        },
                        "starts_at": {
                          "description": "New start time for access.",
                          "format": "date-time",
                          "nullable": true,
                          "type": "string"
                        }
                      },
                      "required": [
                        "starts_at",
                        "ends_at"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "created_at",
                    "message",
                    "mutation_code",
                    "from",
                    "to"
                  ],
                  "type": "object"
                }
              ]
            },
            "type": "array"
          },
          "warnings": {
            "description": "Warnings associated with the [access method](/use-cases/granting-access/delivering-access-methods).",
            "items": {
              "description": "Warning associated with the [access method](/use-cases/granting-access/delivering-access-methods).",
              "discriminator": {
                "propertyName": "warning_code"
              },
              "oneOf": [
                {
                  "description": "Indicates that the [access method](/use-cases/granting-access/delivering-access-methods) is being deleted.",
                  "properties": {
                    "created_at": {
                      "description": "Date and time at which Seam created the warning.",
                      "format": "date-time",
                      "type": "string"
                    },
                    "message": {
                      "description": "Detailed description of the warning. Provides insights into the issue and potentially how to rectify it.",
                      "type": "string"
                    },
                    "warning_code": {
                      "description": "Unique identifier of the type of warning. Enables quick recognition and categorization of the issue.",
                      "enum": [
                        "being_deleted"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "created_at",
                    "message",
                    "warning_code"
                  ],
                  "type": "object"
                },
                {
                  "description": "Indicates that the access times for this [access method](/use-cases/granting-access/delivering-access-methods) are being updated.",
                  "properties": {
                    "created_at": {
                      "description": "Date and time at which Seam created the warning.",
                      "format": "date-time",
                      "type": "string"
                    },
                    "message": {
                      "description": "Detailed description of the warning. Provides insights into the issue and potentially how to rectify it.",
                      "type": "string"
                    },
                    "warning_code": {
                      "description": "Unique identifier of the type of warning. Enables quick recognition and categorization of the issue.",
                      "enum": [
                        "updating_access_times"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "created_at",
                    "message",
                    "warning_code"
                  ],
                  "type": "object"
                },
                {
                  "description": "Indicates that all attempts to create an access code on this device before the start time failed and a backup access code was used to ensure access was provided in time.",
                  "properties": {
                    "created_at": {
                      "description": "Date and time at which Seam created the warning.",
                      "format": "date-time",
                      "type": "string"
                    },
                    "message": {
                      "description": "Detailed description of the warning. Provides insights into the issue and potentially how to rectify it.",
                      "type": "string"
                    },
                    "original_access_method_id": {
                      "description": "ID of the original access method from which this backup access method was split, if applicable.",
                      "format": "uuid",
                      "type": "string"
                    },
                    "warning_code": {
                      "description": "Unique identifier of the type of warning. Enables quick recognition and categorization of the issue.",
                      "enum": [
                        "pulled_backup_access_code"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "created_at",
                    "message",
                    "warning_code"
                  ],
                  "type": "object"
                }
              ]
            },
            "type": "array"
          },
          "workspace_id": {
            "description": "ID of the Seam workspace associated with the access method.",
            "format": "uuid",
            "type": "string"
          }
        },
        "required": [
          "workspace_id",
          "access_method_id",
          "display_name",
          "mode",
          "created_at",
          "issued_at",
          "is_issued",
          "warnings",
          "pending_mutations"
        ],
        "type": "object",
        "x-draft": "Early access.",
        "x-route-path": "/access_methods"
      },
      "acs_access_group": {
        "description": "Group that defines the entrances to which a set of users has access and, in some cases, the access schedule for these entrances and users.",
        "properties": {
          "access_group_type": {
            "deprecated": true,
            "enum": [
              "pti_unit",
              "pti_access_level",
              "salto_ks_access_group",
              "brivo_group",
              "salto_space_group",
              "dormakaba_community_access_group",
              "dormakaba_ambiance_access_group",
              "avigilon_alta_group"
            ],
            "type": "string",
            "x-deprecated": "Use `external_type`."
          },
          "access_group_type_display_name": {
            "deprecated": true,
            "type": "string",
            "x-deprecated": "Use `external_type_display_name`."
          },
          "access_schedule": {
            "description": "`starts_at` and `ends_at` timestamps for the access group's access.",
            "properties": {
              "ends_at": {
                "description": "Date and time at which the user's access ends, in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format.",
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "starts_at": {
                "description": "Date and time at which the user's access starts, in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format.",
                "format": "date-time",
                "type": "string"
              }
            },
            "required": [
              "starts_at",
              "ends_at"
            ],
            "type": "object"
          },
          "acs_access_group_id": {
            "description": "ID of the access group.",
            "format": "uuid",
            "type": "string"
          },
          "acs_system_id": {
            "description": "ID of the access control system that contains the access group.",
            "format": "uuid",
            "type": "string"
          },
          "connected_account_id": {
            "description": "ID of the [connected account](/core-concepts/connected-accounts) that contains the access group.",
            "format": "uuid",
            "type": "string"
          },
          "created_at": {
            "description": "Date and time at which the access group was created.",
            "format": "date-time",
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "errors": {
            "description": "Errors associated with the `acs_access_group`.",
            "items": {
              "description": "Error associated with the `acs_access_group`.",
              "discriminator": {
                "propertyName": "error_code"
              },
              "oneOf": [
                {
                  "description": "Indicates that the [access group](/low-level-apis/access-systems/user-management/assigning-users-to-access-groups) was not created on the [access system](/low-level-apis/access-systems). This is likely due to an internal unexpected error. Contact Seam [support](mailto:support@seam.co).",
                  "properties": {
                    "created_at": {
                      "description": "Date and time at which Seam created the error.",
                      "format": "date-time",
                      "type": "string"
                    },
                    "error_code": {
                      "description": "Unique identifier of the type of error. Enables quick recognition and categorization of the issue.",
                      "enum": [
                        "failed_to_create_on_acs_system"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "description": "Detailed description of the error. Provides insights into the issue and potentially how to rectify it.",
                      "type": "string"
                    }
                  },
                  "required": [
                    "created_at",
                    "message",
                    "error_code"
                  ],
                  "type": "object"
                }
              ]
            },
            "type": "array"
          },
          "external_type": {
            "description": "Brand-specific terminology for the access group type.",
            "enum": [
              "pti_unit",
              "pti_access_level",
              "salto_ks_access_group",
              "brivo_group",
              "salto_space_group",
              "dormakaba_community_access_group",
              "dormakaba_ambiance_access_group",
              "avigilon_alta_group"
            ],
            "type": "string"
          },
          "external_type_display_name": {
            "description": "Display name that corresponds to the brand-specific terminology for the access group type.",
            "type": "string"
          },
          "is_managed": {
            "enum": [
              true
            ],
            "type": "boolean"
          },
          "name": {
            "description": "Name of the access group.",
            "type": "string"
          },
          "pending_mutations": {
            "description": "Collection of pending mutations for the access group. Represents operations that have been requested but not yet completed on the integrated access system.",
            "items": {
              "discriminator": {
                "propertyName": "mutation_code"
              },
              "oneOf": [
                {
                  "description": "Seam is in the process of pushing an access group creation to the integrated access system.",
                  "properties": {
                    "created_at": {
                      "description": "Date and time at which the mutation was created.",
                      "format": "date-time",
                      "type": "string"
                    },
                    "message": {
                      "description": "Detailed description of the mutation.",
                      "type": "string"
                    },
                    "mutation_code": {
                      "description": "Mutation code to indicate that Seam is in the process of pushing an access group creation to the integrated access system.",
                      "enum": [
                        "creating"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "created_at",
                    "message",
                    "mutation_code"
                  ],
                  "type": "object"
                },
                {
                  "description": "Seam is in the process of pushing an access group deletion to the integrated access system.",
                  "properties": {
                    "created_at": {
                      "description": "Date and time at which the mutation was created.",
                      "format": "date-time",
                      "type": "string"
                    },
                    "message": {
                      "description": "Detailed description of the mutation.",
                      "type": "string"
                    },
                    "mutation_code": {
                      "description": "Mutation code to indicate that Seam is in the process of pushing an access group deletion to the integrated access system.",
                      "enum": [
                        "deleting"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "created_at",
                    "message",
                    "mutation_code"
                  ],
                  "type": "object"
                },
                {
                  "description": "This access group is scheduled for automatic deletion when its access window expires.",
                  "properties": {
                    "created_at": {
                      "description": "Date and time at which the mutation was created.",
                      "format": "date-time",
                      "type": "string"
                    },
                    "message": {
                      "description": "Detailed description of the mutation.",
                      "type": "string"
                    },
                    "mutation_code": {
                      "description": "Mutation code to indicate that this access group is scheduled for automatic deletion when its access window expires.",
                      "enum": [
                        "deferring_deletion"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "created_at",
                    "message",
                    "mutation_code"
                  ],
                  "type": "object"
                },
                {
                  "description": "Seam is in the process of pushing an access group information update to the integrated access system.",
                  "properties": {
                    "created_at": {
                      "description": "Date and time at which the mutation was created.",
                      "format": "date-time",
                      "type": "string"
                    },
                    "from": {
                      "description": "Old access group information.",
                      "properties": {
                        "name": {
                          "description": "Name of the access group.",
                          "nullable": true,
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "message": {
                      "description": "Detailed description of the mutation.",
                      "type": "string"
                    },
                    "mutation_code": {
                      "description": "Mutation code to indicate that Seam is in the process of pushing updated access group information to the integrated access system.",
                      "enum": [
                        "updating_group_information"
                      ],
                      "type": "string"
                    },
                    "to": {
                      "description": "New access group information.",
                      "properties": {
                        "name": {
                          "description": "Name of the access group.",
                          "nullable": true,
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "required": [
                    "created_at",
                    "message",
                    "mutation_code",
                    "from",
                    "to"
                  ],
                  "type": "object"
                },
                {
                  "description": "Seam is in the process of pushing an access schedule update to the integrated access system.",
                  "properties": {
                    "created_at": {
                      "description": "Date and time at which the mutation was created.",
                      "format": "date-time",
                      "type": "string"
                    },
                    "from": {
                      "description": "Old access schedule information.",
                      "properties": {
                        "ends_at": {
                          "description": "Ending time for the access schedule.",
                          "format": "date-time",
                          "nullable": true,
                          "type": "string"
                        },
                        "starts_at": {
                          "description": "Starting time for the access schedule.",
                          "format": "date-time",
                          "nullable": true,
                          "type": "string"
                        }
                      },
                      "required": [
                        "starts_at",
                        "ends_at"
                      ],
                      "type": "object"
                    },
                    "message": {
                      "description": "Detailed description of the mutation.",
                      "type": "string"
                    },
                    "mutation_code": {
                      "description": "Mutation code to indicate that Seam is in the process of pushing updated access schedule information to the integrated access system.",
                      "enum": [
                        "updating_access_schedule"
                      ],
                      "type": "string"
                    },
                    "to": {
                      "description": "New access schedule information.",
                      "properties": {
                        "ends_at": {
                          "description": "Ending time for the access schedule.",
                          "format": "date-time",
                          "nullable": true,
                          "type": "string"
                        },
                        "starts_at": {
                          "description": "Starting time for the access schedule.",
                          "format": "date-time",
                          "nullable": true,
                          "type": "string"
                        }
                      },
                      "required": [
                        "starts_at",
                        "ends_at"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "created_at",
                    "message",
                    "mutation_code",
                    "from",
                    "to"
                  ],
                  "type": "object"
                },
                {
                  "description": "Seam is in the process of pushing a user membership update to the integrated access system.",
                  "properties": {
                    "created_at": {
                      "description": "Date and time at which the mutation was created.",
                      "format": "date-time",
                      "type": "string"
                    },
                    "from": {
                      "description": "Old user membership.",
                      "properties": {
                        "acs_user_id": {
                          "description": "Old user ID.",
                          "format": "uuid",
                          "nullable": true,
                          "type": "string"
                        }
                      },
                      "required": [
                        "acs_user_id"
                      ],
                      "type": "object"
                    },
                    "message": {
                      "description": "Detailed description of the mutation.",
                      "type": "string"
                    },
                    "mutation_code": {
                      "description": "Mutation code to indicate that Seam is in the process of pushing updated user membership information to the integrated access system.",
                      "enum": [
                        "updating_user_membership"
                      ],
                      "type": "string"
                    },
                    "to": {
                      "description": "New user membership.",
                      "properties": {
                        "acs_user_id": {
                          "description": "New user ID.",
                          "format": "uuid",
                          "nullable": true,
                          "type": "string"
                        }
                      },
                      "required": [
                        "acs_user_id"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "created_at",
                    "message",
                    "mutation_code",
                    "from",
                    "to"
                  ],
                  "type": "object"
                },
                {
                  "description": "Seam is in the process of pushing an entrance membership update to the integrated access system.",
                  "properties": {
                    "created_at": {
                      "description": "Date and time at which the mutation was created.",
                      "format": "date-time",
                      "type": "string"
                    },
                    "from": {
                      "description": "Old entrance membership.",
                      "properties": {
                        "acs_entrance_id": {
                          "description": "Old entrance ID.",
                          "format": "uuid",
                          "nullable": true,
                          "type": "string"
                        }
                      },
                      "required": [
                        "acs_entrance_id"
                      ],
                      "type": "object"
                    },
                    "message": {
                      "description": "Detailed description of the mutation.",
                      "type": "string"
                    },
                    "mutation_code": {
                      "description": "Mutation code to indicate that Seam is in the process of pushing updated entrance membership information to the integrated access system.",
                      "enum": [
                        "updating_entrance_membership"
                      ],
                      "type": "string"
                    },
                    "to": {
                      "description": "New entrance membership.",
                      "properties": {
                        "acs_entrance_id": {
                          "description": "New entrance ID.",
                          "format": "uuid",
                          "nullable": true,
                          "type": "string"
                        }
                      },
                      "required": [
                        "acs_entrance_id"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "created_at",
                    "message",
                    "mutation_code",
                    "from",
                    "to"
                  ],
                  "type": "object"
                },
                {
                  "description": "A scheduled user membership change is pending for this access group.",
                  "properties": {
                    "acs_user_id": {
                      "description": "ID of the user involved in the scheduled change.",
                      "format": "uuid",
                      "type": "string"
                    },
                    "created_at": {
                      "description": "Date and time at which the mutation was created.",
                      "format": "date-time",
                      "type": "string"
                    },
                    "message": {
                      "description": "Detailed description of the mutation.",
                      "type": "string"
                    },
                    "mutation_code": {
                      "description": "Mutation code to indicate that a scheduled user membership change is pending for this access group.",
                      "enum": [
                        "deferring_user_membership_update"
                      ],
                      "type": "string"
                    },
                    "variant": {
                      "description": "Whether the user is scheduled to be added to or removed from this access group.",
                      "enum": [
                        "adding",
                        "removing"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "created_at",
                    "message",
                    "mutation_code",
                    "acs_user_id",
                    "variant"
                  ],
                  "type": "object"
                }
              ]
            },
            "type": "array"
          },
          "warnings": {
            "description": "Warnings associated with the `acs_access_group`.",
            "items": {
              "description": "Warning associated with the `acs_access_group`.",
              "oneOf": [
                {
                  "description": "An unknown issue occurred while syncing the state of this access group with the provider. This issue may affect the proper functioning of this access group.",
                  "properties": {
                    "created_at": {
                      "description": "Date and time at which Seam created the warning.",
                      "format": "date-time",
                      "type": "string"
                    },
                    "message": {
                      "description": "Detailed description of the warning. Provides insights into the issue and potentially how to rectify it.",
                      "type": "string"
                    },
                    "warning_code": {
                      "description": "Unique identifier of the type of warning. Enables quick recognition and categorization of the issue.",
                      "enum": [
                        "unknown_issue_with_acs_access_group"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "created_at",
                    "message",
                    "warning_code"
                  ],
                  "type": "object"
                },
                {
                  "description": "Indicates that the access group is being deleted from the access system. This is a temporary state, and the access group will be deleted shortly.",
                  "properties": {
                    "created_at": {
                      "description": "Date and time at which Seam created the warning.",
                      "format": "date-time",
                      "type": "string"
                    },
                    "message": {
                      "description": "Detailed description of the warning. Provides insights into the issue and potentially how to rectify it.",
                      "type": "string"
                    },
                    "warning_code": {
                      "description": "Unique identifier of the type of warning. Enables quick recognition and categorization of the issue.",
                      "enum": [
                        "being_deleted"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "created_at",
                    "message",
                    "warning_code"
                  ],
                  "type": "object"
                }
              ]
            },
            "type": "array"
          },
          "workspace_id": {
            "description": "ID of the [workspace](/core-concepts/workspaces) that contains the access group.",
            "format": "uuid",
            "type": "string"
          }
        },
        "required": [
          "acs_access_group_id",
          "acs_system_id",
          "workspace_id",
          "connected_account_id",
          "name",
          "access_group_type",
          "access_group_type_display_name",
          "display_name",
          "external_type",
          "external_type_display_name",
          "created_at",
          "errors",
          "warnings",
          "pending_mutations",
          "is_managed"
        ],
        "type": "object",
        "x-route-path": "/acs/access_groups"
      },
      "acs_credential": {
        "description": "Means by which an [access control system user](/low-level-apis/access-systems/user-management) gains access at an [entrance](/low-level-apis/access-systems/retrieving-entrance-details). The `acs_credential` object represents a [credential](/low-level-apis/access-systems/managing-credentials) that provides an ACS user access within an...",
        "properties": {
          "access_method": {
            "description": "Access method for the [credential](/low-level-apis/access-systems/managing-credentials). Supported values: `code`, `card`, `mobile_key`, `cloud_key`.",
            "enum": [
              "code",
              "card",
              "mobile_key",
              "cloud_key"
            ],
            "type": "string"
          },
          "acs_credential_id": {
            "description": "ID of the [credential](/low-level-apis/access-systems/managing-credentials).",
            "format": "uuid",
            "type": "string"
          },
          "acs_credential_pool_id": {
            "format": "uuid",
            "type": "string"
          },
          "acs_system_id": {
            "description": "ID of the [access control system](/low-level-apis/access-systems) that contains the [credential](/low-level-apis/access-systems/managing-credentials).",
            "format": "uuid",
            "type": "string"
          },
          "acs_user_id": {
            "description": "ID of the [ACS user](/low-level-apis/access-systems/user-management) to whom the [credential](/low-level-apis/access-systems/managing-credentials) belongs.",
            "format": "uuid",
            "type": "string"
          },
          "assa_abloy_vostio_metadata": {
            "description": "Vostio-specific metadata for the [credential](/low-level-apis/access-systems/managing-credentials).",
            "properties": {
              "auto_join": {
                "description": "Indicates whether the credential should auto-join. For an auto-join credential, Seam automatically issues an override card if there are no other cards and a joiner card if there are existing cards on the doors.",
                "type": "boolean"
              },
              "door_names": {
                "description": "Names of the doors to which to grant access in the Vostio access system.",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "endpoint_id": {
                "description": "Endpoint ID in the Vostio access system.",
                "type": "string"
              },
              "key_id": {
                "description": "Key ID in the Vostio access system.",
                "type": "string"
              },
              "key_issuing_request_id": {
                "description": "Key issuing request ID in the Vostio access system.",
                "type": "string"
              },
              "override_guest_acs_entrance_ids": {
                "description": "IDs of the guest entrances to override in the Vostio access system.",
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            },
            "type": "object"
          },
          "card_number": {
            "description": "Number of the card associated with the [credential](/low-level-apis/access-systems/managing-credentials).",
            "nullable": true,
            "type": "string"
          },
          "code": {
            "description": "Access (PIN) code for the [credential](/low-level-apis/access-systems/managing-credentials).",
            "nullable": true,
            "type": "string"
          },
          "connected_account_id": {
            "description": "ID of the [connected account](/low-level-apis/access-systems/managing-credentials#connected-accounts) to which the [credential](/low-level-apis/access-systems/managing-credentials) belongs.",
            "format": "uuid",
            "type": "string"
          },
          "created_at": {
            "description": "Date and time at which the [credential](/low-level-apis/access-systems/managing-credentials) was created.",
            "format": "date-time",
            "type": "string"
          },
          "display_name": {
            "description": "Display name that corresponds to the [credential](/low-level-apis/access-systems/managing-credentials) type.",
            "minLength": 1,
            "type": "string"
          },
          "ends_at": {
            "description": "Date and time at which the [credential](/low-level-apis/access-systems/managing-credentials) validity ends, in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format. Must be a time in the future and after `starts_at`.",
            "type": "string"
          },
          "errors": {
            "description": "Errors associated with the [credential](/low-level-apis/access-systems/managing-credentials).",
            "items": {
              "properties": {
                "error_code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "error_code",
                "message"
              ],
              "type": "object"
            },
            "type": "array"
          },
          "external_type": {
            "description": "Brand-specific terminology for the [credential](/low-level-apis/access-systems/managing-credentials) type. Supported values: `pti_card`, `brivo_credential`, `hid_credential`, `visionline_card`.",
            "enum": [
              "pti_card",
              "brivo_credential",
              "hid_credential",
              "visionline_card",
              "salto_ks_credential",
              "assa_abloy_vostio_key",
              "salto_space_key",
              "latch_access",
              "dormakaba_ambiance_credential",
              "hotek_card",
              "salto_ks_tag",
              "avigilon_alta_credential"
            ],
            "type": "string"
          },
          "external_type_display_name": {
            "description": "Display name that corresponds to the brand-specific terminology for the [credential](/low-level-apis/access-systems/managing-credentials) type.",
            "type": "string"
          },
          "is_issued": {
            "description": "Indicates whether the [credential](/low-level-apis/access-systems/managing-credentials) has been encoded onto a card.",
            "type": "boolean"
          },
          "is_latest_desired_state_synced_with_provider": {
            "description": "Indicates whether the latest state of the [credential](/low-level-apis/access-systems/managing-credentials) has been synced from Seam to the provider.",
            "nullable": true,
            "type": "boolean"
          },
          "is_managed": {
            "enum": [
              true
            ],
            "type": "boolean"
          },
          "is_multi_phone_sync_credential": {
            "description": "Indicates whether the [credential](/low-level-apis/access-systems/managing-credentials) is a [multi-phone sync credential](/capability-guides/mobile-access/issuing-mobile-credentials-from-an-access-control-system#what-are-multi-phone-sync-credentials).",
            "type": "boolean"
          },
          "is_one_time_use": {
            "description": "Indicates whether the [credential](/low-level-apis/access-systems/managing-credentials) can only be used once. If `true`, the code becomes invalid after the first use.",
            "type": "boolean"
          },
          "issued_at": {
            "description": "Date and time at which the [credential](/low-level-apis/access-systems/managing-credentials) was encoded onto a card.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "latest_desired_state_synced_with_provider_at": {
            "description": "Date and time at which the state of the [credential](/low-level-apis/access-systems/managing-credentials) was most recently synced from Seam to the provider.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "parent_acs_credential_id": {
            "description": "ID of the parent [credential](/low-level-apis/access-systems/managing-credentials).",
            "format": "uuid",
            "type": "string"
          },
          "starts_at": {
            "description": "Date and time at which the [credential](/low-level-apis/access-systems/managing-credentials) validity starts, in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format.",
            "type": "string"
          },
          "user_identity_id": {
            "description": "ID of the [user identity](/api/user_identities) to whom the [credential](/low-level-apis/access-systems/managing-credentials) belongs.",
            "format": "uuid",
            "type": "string"
          },
          "visionline_metadata": {
            "description": "Visionline-specific metadata for the [credential](/low-level-apis/access-systems/managing-credentials).",
            "properties": {
              "auto_join": {
                "description": "Indicates whether the credential should auto-join. For an auto-join credential, Seam automatically issues an override card if there are no other cards and a joiner card if there are existing cards on the doors.",
                "type": "boolean"
              },
              "card_function_type": {
                "description": "Card function type in the Visionline access system.",
                "enum": [
                  "guest",
                  "staff"
                ],
                "type": "string"
              },
              "card_id": {
                "description": "ID of the card in the Visionline access system.",
                "type": "string"
              },
              "common_acs_entrance_ids": {
                "description": "Common entrance IDs in the Visionline access system.",
                "items": {
                  "format": "uuid",
                  "type": "string"
                },
                "type": "array"
              },
              "credential_id": {
                "description": "ID of the credential in the Visionline access system.",
                "type": "string"
              },
              "guest_acs_entrance_ids": {
                "description": "Guest entrance IDs in the Visionline access system.",
                "items": {
                  "format": "uuid",
                  "type": "string"
                },
                "type": "array"
              },
              "is_valid": {
                "description": "Indicates whether the credential is valid.",
                "type": "boolean"
              },
              "joiner_acs_credential_ids": {
                "description": "IDs of the credentials to which you want to join.",
                "items": {
                  "format": "uuid",
                  "type": "string"
                },
                "type": "array"
              }
            },
            "required": [
              "card_function_type"
            ],
            "type": "object"
          },
          "warnings": {
            "type": "array",
            "description": "Warnings associated with the [credential](/low-level-apis/access-systems/managing-credentials).",
            "items": {
              "type": "object",
              "properties": {
                "error_code": {
                  "type": "string",
                  "description": "Error or warning code."
                },
                "message": {
                  "type": "string",
                  "description": "Human-readable description."
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "When this error or warning was generated."
                }
              }
            }
          },
          "workspace_id": {
            "description": "ID of the [workspace](/core-concepts/workspaces) that contains the [credential](/low-level-apis/access-systems/managing-credentials).",
            "format": "uuid",
            "type": "string"
          }
        },
        "required": [
          "acs_credential_id",
          "connected_account_id",
          "acs_system_id",
          "display_name",
          "access_method",
          "created_at",
          "workspace_id",
          "errors",
          "warnings",
          "is_managed"
        ],
        "type": "object",
        "x-route-path": "/acs/credentials"
      },
      "acs_credential_pool": {
        "deprecated": true,
        "properties": {
          "acs_credential_pool_id": {
            "format": "uuid",
            "type": "string"
          },
          "acs_system_id": {
            "format": "uuid",
            "type": "string"
          },
          "created_at": {
            "format": "date-time",
            "type": "string"
          },
          "display_name": {
            "minLength": 1,
            "type": "string"
          },
          "external_type": {
            "enum": [
              "hid_part_number"
            ],
            "type": "string"
          },
          "external_type_display_name": {
            "type": "string"
          },
          "workspace_id": {
            "format": "uuid",
            "type": "string"
          }
        },
        "required": [
          "acs_credential_pool_id",
          "acs_system_id",
          "display_name",
          "external_type",
          "external_type_display_name",
          "created_at",
          "workspace_id"
        ],
        "type": "object",
        "x-deprecated": "Not used.",
        "x-route-path": "/acs/credential_pools",
        "x-undocumented": "Deprecated. Will be removed."
      },
      "acs_credential_provisioning_automation": {
        "deprecated": true,
        "properties": {
          "acs_credential_provisioning_automation_id": {
            "format": "uuid",
            "type": "string"
          },
          "created_at": {
            "format": "date-time",
            "type": "string"
          },
          "credential_manager_acs_system_id": {
            "format": "uuid",
            "type": "string"
          },
          "user_identity_id": {
            "format": "uuid",
            "type": "string"
          },
          "workspace_id": {
            "format": "uuid",
            "type": "string"
          }
        },
        "required": [
          "acs_credential_provisioning_automation_id",
          "credential_manager_acs_system_id",
          "user_identity_id",
          "created_at",
          "workspace_id"
        ],
        "type": "object",
        "x-deprecated": "Not used.",
        "x-route-path": "/acs/credential_provisioning_automations",
        "x-undocumented": "Deprecated. Will be removed."
      },
      "acs_encoder": {
        "description": "Represents a hardware device that encodes [credential](/low-level-apis/access-systems/managing-credentials) data onto physical cards within an [access control system](/low-level-apis/access-systems).",
        "properties": {
          "acs_encoder_id": {
            "description": "ID of the [encoder](/low-level-apis/access-systems/working-with-card-encoders-and-scanners.",
            "format": "uuid",
            "type": "string"
          },
          "acs_system_id": {
            "description": "ID of the [access control system](/low-level-apis/access-systems) that contains the [encoder](/low-level-apis/access-systems/working-with-card-encoders-and-scanners).",
            "format": "uuid",
            "type": "string"
          },
          "connected_account_id": {
            "description": "ID of the [connected account](/core-concepts/connected-accounts) that contains the [encoder](/low-level-apis/access-systems/working-with-card-encoders-and-scanners).",
            "format": "uuid",
            "type": "string"
          },
          "created_at": {
            "description": "Date and time at which the [encoder](/low-level-apis/access-systems/working-with-card-encoders-and-scanners) was created.",
            "format": "date-time",
            "type": "string"
          },
          "display_name": {
            "description": "Display name for the [encoder](/low-level-apis/access-systems/working-with-card-encoders-and-scanners).",
            "type": "string"
          },
          "errors": {
            "description": "Errors associated with the [encoder](/low-level-apis/access-systems/working-with-card-encoders-and-scanners).",
            "items": {
              "description": "Error associated with the [encoder](/low-level-apis/access-systems/working-with-card-encoders-and-scanners).",
              "properties": {
                "created_at": {
                  "description": "Date and time at which Seam created the error.",
                  "format": "date-time",
                  "type": "string"
                },
                "error_code": {
                  "description": "Unique identifier of the type of error. Enables quick recognition and categorization of the issue.",
                  "enum": [
                    "acs_encoder_removed"
                  ],
                  "type": "string"
                },
                "message": {
                  "description": "Detailed description of the error. Provides insights into the issue and potentially how to rectify it.",
                  "type": "string"
                }
              },
              "required": [
                "created_at",
                "message",
                "error_code"
              ],
              "type": "object"
            },
            "type": "array"
          },
          "workspace_id": {
            "description": "ID of the [workspace](/core-concepts/workspaces) that contains the [encoder](/low-level-apis/access-systems/working-with-card-encoders-and-scanners).",
            "format": "uuid",
            "type": "string"
          }
        },
        "required": [
          "acs_encoder_id",
          "acs_system_id",
          "connected_account_id",
          "workspace_id",
          "errors",
          "created_at",
          "display_name"
        ],
        "type": "object",
        "x-route-path": "/acs/encoders"
      },
      "acs_entrance": {
        "description": "Represents an [entrance](/low-level-apis/access-systems/retrieving-entrance-details) within an [access control system](/low-level-apis/access-systems).",
        "properties": {
          "acs_entrance_id": {
            "description": "ID of the [entrance](/low-level-apis/access-systems/retrieving-entrance-details).",
            "format": "uuid",
            "type": "string"
          },
          "acs_system_id": {
            "description": "ID of the [access control system](/low-level-apis/access-systems) that contains the [entrance](/low-level-apis/access-systems/retrieving-entrance-details).",
            "format": "uuid",
            "type": "string"
          },
          "assa_abloy_vostio_metadata": {
            "description": "ASSA ABLOY Vostio-specific metadata associated with the [entrance](/low-level-apis/access-systems/retrieving-entrance-details).",
            "properties": {
              "door_name": {
                "description": "Name of the door in the Vostio access system.",
                "type": "string"
              },
              "door_number": {
                "description": "Number of the door in the Vostio access system.",
                "format": "float",
                "type": "number"
              },
              "door_type": {
                "description": "Type of the door in the Vostio access system.",
                "enum": [
                  "CommonDoor",
                  "EntranceDoor",
                  "GuestDoor",
                  "Elevator"
                ],
[...]
